body{
	background: black;
	
}

form label{
	display: block;
	font-size: 20px;
	color:red;
}
form input{
	display: block;
	background: black;
	color: white;
	font-weight: bold;
}
form p{
	display: block;
	font-size: 20px;
	color: red;
}
form div{
	display: block;
	font-size: 20px;
	color:red;
}
table {
	background: red;
      }
tr {
    background: black;
    color: red;
    font-weight: bold;
}
td {
	border: 1px solid #000000;
	border-color: red;
}

